header {
  display: flex;
  width: 100%;
  border-bottom: 2px dashed silver;
  padding: 20px 0;

}

.home {

  .content-header {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    img {
      margin-bottom: 10px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 48%;
      padding-right: 1%;

    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }

  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;

      .btn {
        .custom-btn(150px, 1.6rem);
      }
    }
  }
}

// home

@media @mobile {
  header {
    .nav-header {
      flex-direction: column;
      justify-content: center;

      .title {
        justify-content: center;
      }

      #nav a {
        margin: 1%;
      }
    }
  }

  .container,
  .home {
    .content-header {
      flex-direction: column;
    }

    .content-section {
      flex-direction: column;
      align-content: center;

      .text-content {
        width: 100%;
      }

      .img-content {
        width: 90%;
        margin: 4%;
      }
    }

    .inverse-content {
      flex-direction: column-reverse;
      justify-items: center;

      .img-fluid {
        width: 90%;

      }
    }

    .content-destination {
      width: 100%;
      margin: 1%;

      .destination {
        display: flex;
        flex-direction: column;

      }
    }

  }
}